.landing{
  background-image: url(assets/piz);
  background-size: cover;
  height: 550px;
  background-repeat: no-repeat;
  background-position: center;
}
.menu h1{
  color: blue;

}
.offer{
  background-image: url(assets/piz4);
  background-size: cover;
  height:550px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top:200px;
  font-size: 50px;
  color: whitesmoke;  
}


.total
{
  font-size:2rem;
  font-weight:bold;
}
.total-val
{
  font-size:2rem;
  
}

button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

